# Node.js
node_modules/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Rollup cache
.rollup.cache/

# Coverage reports
coverage/

# Test files
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Lock files (optional if you don't want to include them in version control)
package-lock.json
yarn.lock
